{% extends "base.html" %}
{% load static %}
{% block start %}


<div class="container mt-5">
    <form method="post" class="mt-5 pt-5 mb-5 pb-5"
          enctype="multipart/form-data" action="{% url 'add_comment' post_obj.slug %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {{form.media}}
                {{form.as_p}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Create Comment</button>

    </form>

</div>


{% endblock %}